.page-title {
  margin-bottom: 1rem;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #8a6bc3, #5f6acf);
}

.playlists-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: left;
}

.playlists-card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
